:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  cursor: url(/blue.cur), auto;
  user-select: none;
}

@font-face {
  font-family: "DS-DIGI";
  src: url("./assets/font/DS-DIGI.ttf");
}

// 禁止图片被拖拽
img {
  // pointer-events: none;
  -webkit-user-drag: none;
  // user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0;
}